#main-img {
    border-radius: 25px;
    height: 510px;
    width: 336px;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
img {
    background-color: grey;
}
.caption {
    display: block;
}
table.SoundTable {
    width:100%;
    background-color:#FFFFFF;
    border-color:#FFFFFF;
    border-style:solid;
    color:#000000;
}

table.SoundTable td, table.SoundTable th {
    border-width:2px;
    border-color:#FFFFFF;
    border-style:solid;
    text-align: center;
}

table.SoundTable thead {
    background-color:#FFFFCC;
}

table.SoundTable td {
    padding:0 15px 0 15px;
}
table.SoundTable {
    font-size: 20px;
}
table.SoundTable td{
    padding-top: .5em;
    padding-bottom: .5em;
}
.hide {
    visibility: hidden;
}