/* primary.css */
* {
    margin:0;
    padding: 0;
    font-family:monospace;
}

body {
    width: 100%;
    height: 100%;
}

.whoami {
    width: 100%;
    height: 100%;
}
.main {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html {
    background-color:#f2f2f2;
    background: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#000;
}

#maintainer {
    width: 100%;
    height: 100%;
}

#draggable {
    cursor: move
}

#draggable:hover {
    opacity: .8
}

a:hover {
    text-decoration:
    none
}

pre {
    padding: 20px;
}

#main-img {
    margin:auto;
    height:auto;
    max-width:300px
}

.side {
    font-size: 14px;
    color: #171717
}

.name {
    font-size: 16px;
    color: #171717
}

#links {
    padding: 20px
}

a {
    color: #171717
}
#main-text > * {
    width: 1100px;
    align: center
}
div {
    padding: 15px;
    margin: 0;
    float: left;
}
p {
    text-indent:40px;
    max-width: 60%;
}
h1 {
    max-width: 60%;
}
table {
    width: 300px;
}
table .glider-align {
    text-align: right;
}
.no-indent {
    text-indent: 0px;
    max-width: 60%;
    font-size: 14px
}
.rms {
    text-decoration: none;
}

.glider {
    height: 16px 
}
